<!DOCTYPE html>
<html lang="{{ language.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
