body {
    font-family: Comic Sans MS, cursive;
    font-style: italic;
    background-color: black;
    color: goldenrod;
}

a {
    text-decoration: none;
    color: goldenrod;
}
a:hover {
    text-decoration: none;
    color: goldenrod;
}

h1, h2 {
    margin-top: 20px;
}

p {
    font-size: large;
}

ul.icons {
    list-style: none;
    display: inline-flex;
}

ul.icons li{
    padding: 20px;
}

ol.startseite {
    ;

}

li.hauptseite {
    border-color: #000000;
    border-width: 40px;
    border-style: groove;
    background-color: #000000;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 3%;


}